@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import './header.css';
@import './swiper.css';
@import './buttons.css';
@import './calculator.css';
@import './form.css';
@import '../fonts/gilroy/stylesheet.css';
@import '../fonts/nekst/stylesheet.css';
/* @import './media.css'; */

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.container {
  position: relative;
  max-width: 1344px;
  margin: 0 auto;
  padding: 0 48px;
  overflow: hidden;
}

.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #111111;
  opacity: 0;
  transition: opacity 0.3;
  z-index: 300;
}

.background_show {
  display: block;
  opacity: 0.5;
}

.form_show {
  bottom: 0;
}

.swiper__btn-box-box {
  position: relative;
  min-height: 48px;
  max-width: 174px;
}

.swiper__btn-box-pos {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
